body {
    margin: 0;
}
#maincontainer{
    width:100%;
    height: 100%;
    background-color: #fff3f8;
    margin: auto;
}
header{
    width: 100%;
    height: 10%;
    background-color: #ffe9f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.logo {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.logo img {
    height: 64px;
}
nav {
    flex: 0 0 100%;
    max-width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav {
    height: 40px;
    background-color: ivory;
}
.nav-list {
    padding: 0;
}
.nav-list li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    font-family: sans-serif;
    text-align: center;
    color: deeppink;
}
.nav-list li a {
    color: deeppink;
    text-decoration: none;
}
.nav-list li:hover:not(.selected),.selected {
    padding-bottom: 8px;
    border-bottom: 2px solid deeppink;
}
#content{
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


footer{
    width: 100%;
    background-color: #fc2779;
    color: #ffffff;
}
footer nav {
    background-color: #fc2779;
    padding-top: 10px;
}
footer .nav-list li {
    color: #ffffff;
}
.copy-right {
    text-align: center;
}
.copy-right p {
    margin: 0;
    padding-bottom: 20px;
}
footer .icon {
    height: 40px;
    width: 40px;
}
footer .social-icon {
    height: 24px;
    width: 24px;
}
.footer-promo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}
.promo-content, .social-media {
    display: flex;
    align-items: center;
    margin: 20px;
    color: #fc2779 ;
}
.promo-content span {
    margin-left: 8px;
} 
.social-media {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 24px;
}
.social-media p {
    width: 100%;
    margin: 0;
    text-align: center;
}

@media screen and (max-width:650px) {
    footer ul {
        display: flex;
        flex-wrap: wrap;
    }
    footer li {
        width: 100%;
    }
}

@media screen and (max-width:430px) {
    header nav {
        min-height: 40px;
        height: auto;
    }
    header ul {
        display: flex;
        flex-wrap: wrap;
    }
    header li {
        width: 100%;
    }
    header .nav-list li:hover:not(.selected), li.selected {
        border-bottom: 0;
        padding-bottom: 10px;
        color: #950953;
    }
}